<tr>
  <td><%= link_to developer.name, :action => 'show', :id => developer %></td>
  <td><%= link_to 'Edit', :action => 'edit', :id => developer %></td>
  <td>
    <%= button_to 'Delete', { :action => 'destroy', :id => developer },
        data: { confirm: "Are you sure you want to delete developer #{developer.name}?" } %>
  </td>
</tr>
