<% if @developer.errors.any? %>
  <div id="errorExplanation">
  <h2><%= pluralize(@developer.errors.count, "error") %> error/es encontrados:</h2>
    <ul>
      <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <p><label for="developer_name">Nombre</label><br/>
  <%= text_field 'developer', 'name' %></p>
</div>
